Wifi/flows.json
[
    {
        "id": "3b36dc2753a459f5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a40e5110fa6c30e3",
        "type": "mqtt in",
        "z": "3b36dc2753a459f5",
        "name": "Humidity",
        "topic": "4ID3_Larry/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40d754ae39c0bdd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "e758e118c731011c",
                "dc2621c63f704e10"
            ]
        ]
    },
    {
        "id": "e758e118c731011c",
        "type": "debug",
        "z": "3b36dc2753a459f5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "dc2621c63f704e10",
        "type": "ui_chart",
        "z": "3b36dc2753a459f5",
        "name": "Humidity",
        "group": "f4204a525bed0aa4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0dfcd1991f77742e",
        "type": "mqtt in",
        "z": "3b36dc2753a459f5",
        "name": "Temperature",
        "topic": "4ID3_Larry/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40d754ae39c0bdd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "74a26f6b44f832ee",
                "fcbdca33332c9af6"
            ]
        ]
    },
    {
        "id": "0ace79fc1ce12bbc",
        "type": "mqtt in",
        "z": "3b36dc2753a459f5",
        "name": "Pressure",
        "topic": "4ID3_Larry/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40d754ae39c0bdd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "9f3eb2ba13c3ac1e",
                "4aecf7161fa88009"
            ]
        ]
    },
    {
        "id": "c2e6f1c49459662e",
        "type": "mqtt in",
        "z": "3b36dc2753a459f5",
        "name": "Light",
        "topic": "4ID3_Larry/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40d754ae39c0bdd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "4633b6fddb2865c1",
                "bde4e44b5341bcbf"
            ]
        ]
    },
    {
        "id": "74a26f6b44f832ee",
        "type": "debug",
        "z": "3b36dc2753a459f5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "9f3eb2ba13c3ac1e",
        "type": "debug",
        "z": "3b36dc2753a459f5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "4633b6fddb2865c1",
        "type": "debug",
        "z": "3b36dc2753a459f5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 620,
        "wires": []
    },
    {
        "id": "fcbdca33332c9af6",
        "type": "ui_chart",
        "z": "3b36dc2753a459f5",
        "name": "Temperature",
        "group": "f4204a525bed0aa4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "bde4e44b5341bcbf",
        "type": "ui_text",
        "z": "3b36dc2753a459f5",
        "group": "f4204a525bed0aa4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Light",
        "label": "light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 700,
        "wires": []
    },
    {
        "id": "4aecf7161fa88009",
        "type": "ui_gauge",
        "z": "3b36dc2753a459f5",
        "name": "Pressure",
        "group": "f4204a525bed0aa4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pressure",
        "label": "units",
        "format": "{{value}}",
        "min": "500",
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 540,
        "wires": []
    },
    {
        "id": "40d754ae39c0bdd9",
        "type": "mqtt-broker",
        "name": "MQTT_Pixel_Broker",
        "broker": "172.17.46.6",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f4204a525bed0aa4",
        "type": "ui_group",
        "name": "Lab2 Dashboard",
        "tab": "10d82180cea206e6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "10d82180cea206e6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "18a009895b8b4195",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]